@import "../generic-components/card.scss";

.card {
  box-shadow: none !important;
}

.services-header {
  text-align: center;
}

.service-cards {
  position: relative;
  color: black;

  @media (max-width: 768px) {
    height: initial;
  }
}
