@import '../../styling/colors.scss';

.generic-header {
  background-color: $sultana-primary;
  background-color: rgba($sultana-primary, 0.92);
  color: $background-primary;
  min-height: 100px;

  .container {
    padding: 50px 0 50px 0;
  }
  
  .header-text {
    
    h1 {
      margin:0;
      font-size: 14px;
      
    }

    h2 {
      margin: 0;
      color: white;
      font-size: 1.92rem;
    }


    @media (min-width: 991px) {

      h2 {
        font-size: 1.92rem;
      }
    }
  }
}