.ServicesPageContactUs {
  position: relative;

  .container {
    position: relative;
    z-index: 99;
  }

  &-image {
    padding: 160px 0;
  }

  h2 {
    color: white;
    font-weight: 900;
  }

  p {
    color: white;
    @media (min-width: 991px) {
      width: 40vw;

    }
  }

  .input-field {
    label {
      color: white;
    }
  }

  input[type=text]:not(.browser-default), input[type=email]:not(.browser-default) {
    border-color: white;
    width: 90vw;

    @media (min-width: 991px) {
      width: 400px;
    }
  }
}