.ServicesPageContactUs {
  position: relative;

  .container {
    position: relative;
    z-index: 99;
  }

  &-image {
    height: 900px;
  }

  h2 {
    color: white;
    font-weight: 900;
  }

  p {
    color: white;
    width: 40vw;
  }

  .input-field {
    label {
      color: white;
    }
  }

  input[type=text]:not(.browser-default), input[type=email]:not(.browser-default) {
    width: 400px;
    border-color: white;
  }
}