@import "../generic-components/card.scss";

.servicesAdvantages {
  &-header {
    position: relative;
    margin: auto;
    width: 100%;
    @media (min-width: 991px) {
      width: 1160px;
    }

    h2 {
      font-weight: 900;
    }
  }

  &-blurb {
    width: 800px;
    margin: auto;
    p {
      width: 600px;
    }
  }
}