.servicesConsultation-wrapper {
  position: relative;
  z-index: 1;

  .overlay {
    opacity: 0.5
  }
}
.servicesConsultation {
  color: white;
  padding: 160px 0;
  &-content {
    position: relative;
    z-index: 99;
    height: 100%;
  }

  h2 {
    font-weight: 900;
    font-family: Poppins;
  }

  .ContactForm {
    .input-field {
      label {
        color: white;
      }

    }
  }
}
