.servicesPageBreakdown {
  margin: 160px 0;
  &-header {
    width: 490px;
    margin-bottom: 60px;
    h2 {
      font-family: Poppins;
      font-weight: 800;
      font-size: 3.2rem;
    }
  }
  &-counter {
    height: 60px;
    div {
      font-size: 40px;
      font-weight: 800;
      transition: all 0.4s;
      margin-left: 20px;

      @media (min-width: 991px) {
        font-size: 60px;
      }
    }
    
    .active {
      font-size: 60px;
      color: $sultana-primary;
      @media (min-width: 991px) {
        font-size: 100px;
      }
    }
  }

  &-indicatorContainer {
    position: relative;
    margin-bottom: 60px;

    @media #{$medium-and-up} {
      margin-bottom: 100px;
    }

    .strike-through-container {
      position: absolute;
      top: 15px;
      bottom: 0;
      left: 0;
      right: 0;

      @media #{$medium-and-up} {
        top: 20px;
      }

      .strike-through {
        height: 1px;
        width: 99vw;
        background-color: gray;
        z-index: 1
      }
    }
    .CarouselIndicator {
      position: relative;
      z-index: 99;

      &-circle {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid gray;
        background-color: $background-primary;
        z-index: 99;

        @media #{$medium-and-up} {
          width: 40px;
          height: 40px;
        }
      }

      &-expander {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: transparent;
        z-index: 97;
        transition: all 0.3s;
      }
    }

    .CarouselIndicator.active {
      .CarouselIndicator-circle {
        background-color: $sultana-primary;
        border: none;
      }

      .CarouselIndicator-expander {
        width: 40px;
        height: 40px;
        top: -5px;
        left: -5px;
        border-color: $sultana-primary;
        background-color: $background-primary;

        @media #{$medium-and-up} {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  &-middle.row {
    margin: auto;
    margin-bottom: 60px;

    @media (min-width: 991px) {
      margin-bottom: 100px;
    }

  }
  &-middleCarousel {
    margin-bottom: 60px;

    @media #{$medium-and-down} {
      width: 90%;
      margin: 0 auto 100px auto;
    }

    .material-icons {
      font-size: 40px;
      margin: 0 20px;
    }
  }
  &-bottom {
    h2 {
      margin: 0;
    }

    &Header {
      span:first-of-type {
        color: grey;
      }
      
      span:last-of-type {
        color: $sultana-primary;
        font-size: 24px;
        font-weight: 900;
      }
    }
    

  }

  h5 {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
