
.servicesHeader-wrapper {
  position: relative;
}
.servicesHeader {
  height: 900px;
  z-index: 0;
  position: relative;
}

.servicesHeader-content {
  position: relative;
  color: white;
  z-index: 99;

  h1 {
    font-family: Poppins;
    font-size: 100px;
    font-weight: 900px;
  }
}