$sultana-primary: #629078;
$sultana-secondary: #3B4D40;
$sultana-tertiary: #FEF6CD;
$sultana-text: #221F20;
$background-primary: #D1D3D4;
$background-gradient: linear-gradient(150deg, rgba(226,225,235,0) 0%, $sultana-primary 94%);
$shadow-color: black;