@import 'colors.scss';

.sultana-nav {
    background-color: $sultana-primary;
    box-shadow: 0px 2px 4px black;
    z-index: 99;
    padding-left: 100px;
    padding-right: 100px;

    .logo-wrapper {
        position: relative;

        .logo-title {
            position: absolute;
            top: -20px;
            left: 11px;
            color: rgba(0, 0, 0, 0.5);
            mix-blend-mode: initial;
        }
    }

    h1 {
        font-family: Lobster;
        font-weight: 900;
        position: relative;
        z-index: 99;
        color: black;
    }
    a {
      color: $sultana-tertiary;
      font-weight: 900;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

    }
}

