@import "colors.scss";
@import "variables.scss";
@import 'home/service-cards.scss';
@import 'home/hero.scss';

.panel-wrapper {
  padding: 120px 0;
  
  h2 {
    margin-top: 0;
    font-family: 'Poppins';
    font-weight:900;
  }

  p {
    font-size: 18px;
    font-family: 'Poppins';

  }
  @media #{$medium-and-up} {
    padding: 160px 0;

    p {
      font-size: 24px
    }
  }
}

.WhatWeDoPanel-wrapper {
  background-image: $background-gradient;

  .WhatWeDoPanel {
    position: relative;
    color: white;
  }
}

.row {
  margin-bottom: 0; 
}

.container.no-margin {
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.image-column.col {
  width: 92vw;
  padding-left: 0 !important;
}

.content-column.col {
  padding-bottom: 20px;

  @media (min-width: 991px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.serviceCardWrapper {
  padding: 160px 0;
  .container {
    width:90%;
  }
  h2 {
    font-family: 'Poppins';
    font-weight: 900;
  }
}