@import "colors.scss";
@import 'home/service-cards.scss';
@import 'home/hero.scss';

.panel-wrapper {
  padding: 60px 0 60px 0;
  p {
    font-size: 24px;
  }
  @media (min-width: 991px) {
    padding: 80px 0 80px 0;
  }
}

.ProductContent-wrapper {
  background-image: $background-gradient;

  .ProductContent {
    position: relative;
    color: white;
  }
}

.row {
  margin-bottom: 0; 
}

.container.no-margin {
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.image-column.col {
  width: 92vw;
  padding-left: 0 !important;
}

.content-column.col {
  padding-bottom: 20px;

  @media (min-width: 991px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
