@import "colors.scss";
@import 'home/service-cards.scss';


.ProductContent-wrapper {
  margin-top: 20px;
  padding: 80px 0 80px 0;
  background-image: $background-gradient;

  .ProductContent {
    position: relative;
    color: white;
    p {
      font-size: 24px;
    }
  }
}

.imageColumn {
  width: 92vw;
  padding-left: 0 !important;
  > div {
    height: 500px;
  }
}

.hero {
  z-index: -1;
  &-wrapper {
    position: relative;
    overflow-y: hidden;
  }

  &-content {
    @media (min-width: 320px) {
      position: absolute;
      width: 100%;
      text-align: center;
    }

    @media (min-width: 801px) {
      position: absolute;
      top: 10vw;
      left: 10%;
      font-size: 36px;
      text-align: left;
      width: auto;
    }
  }

  &-title {
    mix-blend-mode: difference;
    color: gray;
    font-size: 36px;
    font-weight: 900;

    @media (min-width: 768px) {
      font-size: 56px;
    }
  }

  img {
    z-index: 998;
    mix-blend-mode: multiply;
    width: 50vw;
    position: absolute;

    @media (min-width: 320px) {
      display: none;
    }

    @media (min-width: 801px) {
      display:block;
    }
  }
}
