@import 'colors.scss';
@import 'header.scss';
@import 'suit.scss';
@import 'contact.scss';
@import 'footer.scss';
@import 'about.scss';
@import 'services.scss';

html {
  height: 100%;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  background-color: $background-primary;
  background-size: cover;
  font-family: Montserrat;

  .page-container {
    position: relative;
    min-height: 100vh;

    main {
      padding-bottom: 256px;

      @media (min-width: 991px) {
        padding-bottom: 237px;
      }
    }

    .page-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .btn {
    background-color: $sultana-secondary;
    a {
      color: white;
    }

    &:hover {
      background-color: $sultana-primary
    }
  }
}

.row .col.no-padding {
  padding: 0;
}