@import "colors.scss";

@import "services-template/services-template-header.scss";
@import "services-template/services-template-advantages.scss";
@import "services-template/services-template-contact-us.scss";

.topper {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    width: 116px;
    height: 16px;
    background-color: $sultana-primary;
    border-radius: 8px;
  }
}

.overlay {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
}

.title-period {
  position: relative;
  &::after {
    content: '.';
    color: $sultana-primary;
    font-size: 80px;
  }
}