@import "colors.scss";

@import "services-template/services-template-header.scss";
@import "services-template/services-template-advantages.scss";
@import "services-template/services-template-consultation.scss";
@import "services-template/services-template-contact-us.scss";
@import "services-template/services-template-breakdown.scss";
@import "generic-components/carousel.scss";

.services-page>.sultana-nav {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $sultana-tertiary;
}

.topper {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-color: $sultana-primary;
    top: -10px;
    width: 80px;
    height: 10px;
    border-radius: 5px;

    @media #{med-and-up} {
      width: 116px;
      height: 16px;
      border-radius: 8px;
    }
  }
}

.overlay {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
}

.title-period {
  position: relative;
  &::after {
    content: '.';
    color: $sultana-primary;
    font-weight: 900;
    font-size: 70px;
    
    @media #{med-and-up} {
      font-size: 80px;
    }
  }
}

h2 {
  font-weight: 900;
  font-size: 2.6rem;
  font-family: Poppins;
}

p {
  font-size: 20px;
}