$corner-size: 36px;

.service-card-wrapper {
  position: relative;
  background-color: $background-primary;
  padding: 16px;
  width: 300px;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &.active {
    .service-card {
      background-color: lighten($sultana-primary, 10%);
      color: white;

      .service-card-icon-wrapper {
        background-color: $sultana-primary;

        svg {
          fill: white;
        }
      }

      .progress-ring {
        stroke-dasharray: 400 0 400;
      }
    }
  }
  .service-card {
    height: 100%;
    text-align: center;
    overflow-y: hidden;
    border-radius: 8px;
    padding: 16px;
    transition: max-height 0.6s ease, background-color 0.5s ease-out;
    background-color: white;
    box-shadow: 0px 0px 20px $sultana-primary;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 0;
      width: 0;
      box-shadow: 0px 0px 0px $shadow-color;
      transition: all 0.6s;
    }

    &:after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      top: 0;
      right: 0;
      border-top-width: 0px;
      border-top-color: $background-primary;
      border-top-style: solid;
      border-left-width: 0px;
      border-left-style: solid;
      border-left-color: $background-primary;
      transition: border-width 0.6s, border-color 0.3s;
    }

    &-icon-wrapper {
      margin-top: 10px;
      position: relative;
      background: $background-primary;
      padding: 20px;
      border-radius: 50%;
      transition: all 0.5s;

      svg {
        transition: all 0.5s;
      }
    }

    .progress-ring {
      position: absolute;
      top: -10px;
      left: -10px;
      stroke: $sultana-primary;
      stroke-dasharray: 0 400 0;
      transition: stroke-dasharray 0.5s;
    }
  }
}